<h1>Post a New Song</h1>


<% if @tracks.errors.any? %>
  <div>
    <strong>Some issues with your tracks, please fix them:</strong>
    <ul>
      <% @tracks.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<form method="post" action="/tracks">
  <div>
    <label>Title:</label>
    <input type="text" name="title" value="<%= @tracks.title %>">
  </div>
  <div>
    <label>Author:</label>
    <input type="text" name="author"  value="<%= @tracks.author %>">
  </div>
  <div>
    <label>URL:</label>
    <input type="text" name="url" value="<%= @tracks.url %>">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>